body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
    padding: 60px;
    width: 475px;
    height: 485px;
    border-color: #707070;
    border: 1px solid #707070;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 20px;
}
.box h1{
    color: #707070;
    text-transform: uppercase;
    font-weight: 5000;
    font-size: xxx-large;
}
.box input[type = "text"], .box input[type = "password"]{
    font-size: larger;
    border: 0;
    background-color: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid  #707070;
    padding: 20px 20px;
    outline: none;
    color: #707070;
    border-radius: 35px;
    transition: 0.15s;
}

.box input[type = "submit"]{
    border: 0;
    font-size: larger;
    background-color: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #707070;
    padding: 14px 40px;
    outline: none;
    color: #707070;
    border-radius: 24px;
    transition: 0.15s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #ffffff;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 380px;
    border-color: #2ecc71;
}

	.mediaViewInfo {
		--web-view-name: Login;
		--web-view-id: Login;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Login;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}

	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}

	#Forget_Username_Password__ {
		position: absolute;
		left: 30%;
		top: 80%;
		overflow: hidden;
		width: 198px;
		height: 27px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
		text-decoration: true;
	}
	#Create_your_Account_ {
		position: absolute;
		left: 30%;
		top: 110%;
		overflow: hidden;
		width: 199px;
		height: 27px;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Sign_up.html;
		cursor: pointer;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
		text-decoration: true;
    }
    #login {
        
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Home_1.html;
        
    }