body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
    padding: 20px;
    width: 568px;
    height: 882px;
    border-color: #707070;
    border: 1px solid #707070;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 20px;
}
.box h1{
    color: #707070;
    text-transform: uppercase;
    font-weight: 5000;
    font-size: xxx-large;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background-color: none;
    transition: 0.15s;
    opacity: 0.56;
    outline: none;
		position: absolute;
		left: 0.5px;
		top: 47px;
		overflow: visible;
		width: 153px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
}
.box input[type = "submit"]{
    border: 0;
    font-size: larger;
    background-color: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #707070;
    padding: 14px 40px;
    outline: none;
    color: #707070;
    border-radius: 24px;
    cursor: pointer;
    position: absolute;
    left: 15%;
    top: 86%;
}

.box input[type = "submit"]:hover{
    background: #ffffff;
}

	
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}

	#Group_138 {
		position: absolute;
		width: 427px;
		height: 515px;
		left: 15%;
		top: 20%;
		overflow: visible;
	}
	#Group_118 {
		position: absolute;
		width: 427px;
		height: 87px;
		left: 0%;
		top: 0%;
		overflow: visible;
	}
	#Fullname {
		opacity: 0.99;
		position: absolute;
		left: 0.5px;
		top: 0px;
		overflow: visible;
		width: 109px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(112,112,112,1);
    }
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 427px;
		height: 1px;
		left: 0px;
        top: 81.5px;
        stroke:rgba(112,112,112,1)
    }
    
    .Line_1 :focus {
        width: 427px;
        stroke: #2ecc71;
    }

	#Group_119 {
		position: absolute;
		width: 427px;
		height: 87px;
		left: 0px;
		top: 107px;
		overflow: visible;
	}
	#Email {
		opacity: 0.99;
		position: absolute;
		left: 0.5px;
		top: 0px;
		overflow: visible;
		width: 102px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(112,112,112,1);
	}
	#Email_address___ {
		opacity: 0.56;
		position: absolute;
		left: 0.5px;
		top: 47px;
		overflow: visible;
		width: 153px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}

	#Group_120 {
		position: absolute;
		width: 427px;
		height: 87px;
		left: 0px;
		top: 214px;
		overflow: visible;
	}
	#Username {
		opacity: 0.99;
		position: absolute;
		left: 0.5px;
		top: 0px;
		overflow: visible;
		width: 121px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(112,112,112,1);
	}
	#Username___ {
		opacity: 0.56;
		position: absolute;
		left: 0.5px;
		top: 47px;
		overflow: visible;
		width: 153px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}

	#Group_121 {
		position: absolute;
		width: 427px;
		height: 87px;
		left: 0px;
		top: 321px;
		overflow: visible;
	}
	#Password {
		opacity: 0.99;
		position: absolute;
		left: 0.5px;
		top: 0px;
		overflow: visible;
		width: 121px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(112,112,112,1);
	}
	#________ {
		opacity: 0.56;
		position: absolute;
		left: 0.5px;
		top: 47px;
		overflow: visible;
		width: 153px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}

	#Group_123 {
		position: absolute;
		width: 427px;
		height: 87px;
		left: 0px;
		top: 428px;
		overflow: visible;
	}
	#Repeat_Password {
		opacity: 0.99;
		position: absolute;
		left: 0.5px;
		top: 0px;
		overflow: visible;
		width: 200px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(112,112,112,1);
	}
	#_________bv {
		opacity: 0.56;
		position: absolute;
		left: 0.5px;
		top: 47px;
		overflow: visible;
		width: 153px;
		height: 40px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}

	#Group_137 {
		position: absolute;
		width: 242px;
		height: 27px;
		left: 15%;
		top: 80%;
		overflow: visible;
	}
	#I_agree_to_the_Terms_of_User_ {
		position: absolute;
		left: 45px;
		top: 0px;
		overflow: hidden;
		width: 198px;
		height: 27px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 21px;
		height: 21px;
		left: 0px;
        top: 0px;
        fill: rgba(255,255,255,1);  
        stroke-width: 1px; 
        stroke-linejoin: miter; 
        stroke-linecap: butt;
        stroke-miterlimit: 4; 
        shape-rendering: auto;  
	}
	#Group_129 {
		position: absolute;
		width: 124.286px;
		height: 40px;
		left: 65%;
		top: 89%;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Login.html;
		cursor: pointer;
	}
	#Sign_in_ {
		position: absolute;
		left: 0px;
		top: 4px;
		overflow: hidden;
		width: 68px;
		height: 27px;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(112,112,112,1);
	}
	#Component_1___1 {
		position: absolute;
		width: 52.332px;
		height: 40px;
		left: 71.954px;
		top: 0px;
		overflow: visible;
	}
	#arrow_right {
		position: absolute;
		width: 22.857px;
		height: 40px;
		left: 29.475px;
		top: 0px;
		overflow: visible;
	}
	#ARROW__x2F__RIGHT {
		position: absolute;
		width: 22.857px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_1 {
		position: absolute;
		width: 22.857px;
		height: 40px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 22.857px;
		height: 40px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Subtraction_1 {
		overflow: visible;
		position: absolute;
		width: 29.409px;
		height: 5.78px;
		left: 22px;
		top: 17.072px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Subtraction_2 {
		overflow: visible;
		position: absolute;
		width: 29.409px;
		height: 5.78px;
		left: 0px;
		top: 17.072px;
		transform: matrix(1,0,0,1,0,0);
	}